/* CENTRADO SOLO HORIZONTAL */

/* .text {
  margin: 0 auto;
  width: 86%;
  max-width: 600px;
} */

/* centrado vertical y horizontal */

.text {
  margin: 0 auto;
  width: 86vw;
  max-width: 600px;
  display: flex;
  align-items: center;
  height: 100vh;
}
