@import "../components/buttons";

.bloc02bottom {
  color: wheat;
  background-color: darkslategrey;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
