.newspaper {
  background-color: rgb(44, 143, 179);
  width: 80vw;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  border: 2px dashed lightcoral;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 15px;
}

.article {
  width: 50%;
  border: 2px solid grey;
  padding: 15px;
  line-height: 1.5;
  background-color: rgb(197, 225, 235);
}

.post5 {
  order: -1;
  width: 100%;
}

.post5 img {
  width: 100%;
}
