h1 {
  font-family: monospace;
  font-size: 24px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid grey;
  text-align: center;
}

caption {
  font-size: 18px;
}

td {
  border: 2px solid grey;
}
